@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-font{
    font-family: "Raleway", sans-serif;
}
.second-font{
    font-family: "Inter", sans-serif;
}
.main-color{
    color: #4E47FF;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    border: 2px solid #4E47FF;
    color: #4E47FF;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    transition: .3s;
}
.btn-primary:hover{
    color: white;
    background-color: #4E47FF;
    box-shadow: 5px 10px 25px -3px #4e47ffb5;
}
/* nav section end */
/* common css end  here */
#header{
    background-image: url(Assets/Hero-bg.png);
}
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.logo{
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
}
/* nav section end */
/* banner section start */
.banner{
    text-align: center;
    padding: 158px 0 200px 0;
}
/* banner section end */

/* action section start */
.action{
    margin: 116px 0;
}
.action .action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-heading{
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.action-description{
    color: #25243280;
    width: 517px;
    font-size: 24px;
    font-weight: normal;
    margin: 23px 0;
}
.action-img{
    height: 328px;
}
.action-img img{
    border-radius: 48px;
}
/* action section end */

/* users section start */

.users-content{
    padding: 50px 80px;
    background-color: #4e47ff1a;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 137px;
}
.users-heading{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
}
.users-description{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.p-user-heading{
    font-size: 80px;
    font-weight: 700;
}
.p-user-description{
    color: #00000080;
}
/* users section end */

/* review section start */
.review-content{
    margin-bottom: 137px;
}
.review-heading{
    font-weight: 700;
    font-size: 42px;
    color: #252432;
    text-align: center;
}
.review-cards{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.card{
    padding: 24px;
    border: 1px solid #f2eded;
    background-color: #ffffff80;
    border-radius: 14px;
}
.card-heading{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin-top: 24px;
}
.card-description{
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 24px;
}
.reviewer{
    display: flex;
    gap: 12px;
    align-items: center;
}
.reviewer-details h6{
    color: #757575;
    font-weight: 600;
    font-size: 16px;
}
.reviewer-details p{
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 400;
}
.name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.date{
    color: #B3B3B3;
    font-weight: normal;
    font-size: 16px;
}
/* review section end */

/* better section start */

.better-content{
    padding: 71px 150px;
    background-color: #fff;
    border-radius: 14px;
    text-align: center;
}
.better-content img{
    border-radius: 48px;
    margin-top: 20px;
}
.better-heading{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}
.better-description{
    font-size: 16px;
    margin: 20px 0;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}
/* better section end */

/* get in touch start*/
.getintouch{
    margin-top: 92.23px;
}
.getintouch-content{
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.getintouch-heading{
    font-size: 97px;
    font-weight: 700;
    color: #000000;
}
.getintouch-content form{
    display: flex;
    flex-direction: column;
}
.getintouch-content form label{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.getintouch-content form input,textarea{
    font-family: "Inter", sans-serif;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
    margin-bottom: 19px;
    background-color: #fff;
}
.getintouch-button{
    border: 2px solid #4E47FF;
    color: #4E47FF;
    font-weight: 700;
    font-size: 16px;
    padding: 19px 101px;
    border-radius: 10px;
    transition: .3s;
}
.getintouch-button:hover{
    color: white;
    background-color: #4E47FF;
    box-shadow: 5px 10px 25px -3px #4e47ffb5;
}
/* get in touch end*/
/* footer start*/
/* get in touch footer*/
.footer{
    background-color: #fff;
    border: 1px solid #0000001a;
}
.footer-content{
    text-align: center;
    margin: 104px auto;
    width: 531px;
}
.footer-heading{
    font-size: 100px;
    font-weight: 900;
}
.footer-description{
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    margin-top: 8px;
    margin-bottom: 20px;
}
.footer-content ul{
    display: flex;
    justify-content: space-around;
    margin: 0 65px;
    /* gap: 48px; */
}
.footer-content ul li{
    list-style: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}

/* footer end*/