@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-font{
    font-family: "Raleway", sans-serif;
}
.second-font{
    font-family: "Inter", sans-serif;
}
.main-color{
    color: #4E47FF;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    border: 2px solid #4E47FF;
    color: #4E47FF;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    transition: .3s;
}
.btn-primary:hover{
    color: white;
    background-color: #4E47FF;
    box-shadow: 5px 10px 25px -3px #4e47ffb5;
}
/* nav section end */
/* common css end  here */
#header{
    background-image: url(Assets/Hero-bg.png);
}
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.logo{
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
}
/* nav section end */
/* banner section start */
.banner{
    text-align: center;
    padding: 158px 0 200px 0;
}
/* banner section end */

/* action section start */
.action{
    margin: 116px 0;
}
.action .action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-heading{
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.action-description{
    color: #25243285;
    font-size: 24px;
    font-weight: normal;
    margin: 23px 0;
}
.action-img{
    height: 328px;
}
.action-img img{
    border-radius: 48px;
    height: fit-content;
}

/* action section end */